:root {
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

a {
  color: var(--black-olive);
  text-decoration: underline;
}

body {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  background-color: var(--floral-white);
}

#search-bar {
  width: 23rem;
  height: auto;
  border-radius: 40px;
  background: var(--timberwolf);
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0.5%;
}

#search-icon {
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  border: none;
  background: var(--timberwolf);
  border-radius: 40px;
  position: relative;
}

#search-input {
  border: none;
  outline: none;
  background: var(--timberwolf);
  font-size: 1rem;
  position: relative;
  justify-content: center;
}

#header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: var(--timberwolf);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
}

#about-div {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: var(--timberwolf);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 1;
}

#open-about-popup {
  width: fit-content;
  height: auto;
  cursor: pointer;
  display: block;
  margin: 1rem 3rem;
  right: 0;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 3;
}

#about-content {
  background-color: var(--floral-white);
  margin: 5% auto;
  padding: 2rem;
  width: 50%;
  border-radius: 0.5rem;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 2;
}

#web-name {
  font-weight: bold;
}

#about-popup button {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5%;
  border: none;
  background-color: transparent;
}

/* Rounded switch to swutch between celcius and farenheit */
.unit-switch {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* Styles for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--floral-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
  align-self: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--timberwolf);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--black-olive);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--black-olive);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Styling for the temperature unit label */
.unitLabel {
  font-weight: bold;
  font-size: large;
  margin-left: 1rem;
  margin-right: 1rem;
}

.forecast-result {
  visibility: hidden;
}

#today-forecast {
  margin-top: 4em;
  display: flex;
  width: 100%;
  border-radius: 0.7em;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

#today-forecast ul {
  list-style: none;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#temp-info {
  display: flex;
  align-items: center;
}

#temp-info div {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#city-container {
  display: flex;
  flex-direction: row;
}

#city {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

#country {
  margin-left: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

#favorite-checker {
  display: flex;
  align-self: center;
  margin-left: 1rem;
  color: var(--black-olive);
}

/* today's temperature */
#temp {
  font-size: xx-large;
  font-weight: bold;
}

#additional-info {
  display: flex;
  flex-direction: row;
}

/* #additional-info div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
} */

.min-temp {
  color: blue;
  width: max-content;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.max-temp {
  color: red;
  width: max-content;
  margin-top: 0.5rem;
  font-weight: bold;
}

.temp-range {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.each-day-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-items: flex-start;
}

.day_number {
  width: max-content;
}

.days-conditions {
  font-weight: bold;
  width: max-content;
}

.additional-info-title {
  font-size: smaller;
}

/* additional data about today's weather e.g. air quality, wind speed and humudity level */
.additional-data {
  font-size: large;
}

#today-forecast-hourly {
  margin-top: 2%;
}

#next-days-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#next-days-section {
  background-color: var(--timberwolf);
  height: max-content;
  width: 100%;
  position: relative;
  left: 0;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.date {
  background-color: var(--floral-white);
  height: fit-content;
  width: min-content;
  border-radius: 0.7em;
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-style: none;
  cursor: pointer;
}

.humidity-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* active day button */
.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active .each-day-info {
  margin-right: 3rem;
}

/* deactive day button */
.deactive {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.deactive .each-day-info {
  margin-right: 1rem;
}

.deactive .days-conditions {
  display: none;
}

.deactive .humidity-div {
  display: none;
}

.hourly {
  z-index: 0.5;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: var(--floral-white);
  border-radius: 0.7em;
  padding: 2%;
  width: 40%;
  height: 40%;
}

#next-days-charts {
  width: 60%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#quiz-section {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-between;
  visibility: hidden;
}

#quiz {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: stretch;
}

#quiz-image {
  max-width: 25%;
  max-height: 25%;
  margin-left: 5rem;
}

/* quiz question */
#question {
  width: 80%;
  margin-bottom: 2rem;
}

/* quiz options */
#options {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 70%;
  height: 3rem;
  justify-content: space-evenly;
}

/* quiz options buttons */
#options button {
  width: 8rem;
  border-style: dashed;
  border-color: var(--black-olive);
  border-radius: 0.5rem;
  background-color: var(--floral-white);
  cursor: pointer;
}

#exercise-recommendation-section {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
}

#exercises-table-div {
  overflow-x: auto; /* make table responsive*/
  width: 60%;
}

#exercise-image {
  max-width: 30%;
  max-height: 30%;
}

tr:nth-child() {
  background-color: var(--timberwolf);
}

#table-title {
  background-color: var(--flame);
}

th,
td {
  border: 1px solid;
  border-color: var(--eerie-black);
  padding: 1%;
}

#exercises-table {
  width: 100%;
  border-collapse: collapse;
}
