:root {
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

a {
  color: var(--black-olive);
  text-decoration: underline;
}

body {
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
  background-color: var(--floral-white);
}

#search-bar {
  width: 23rem;
  height: auto;
  border-radius: 40px;
  background: var(--timberwolf);
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0.5%;
}

#search-icon {
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  border: none;
  background: var(--timberwolf);
  border-radius: 40px;
  position: relative;
}

#search-input {
  border: none;
  outline: none;
  background: var(--timberwolf);
  font-size: 1rem;
  position: relative;
  justify-content: center;
}

#header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: var(--timberwolf);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  z-index: 100;
}

#open-about-popup {
  width: fit-content;
  height: auto;
  cursor: pointer;
  display: block;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

#about-content {
  background-color: var(--floral-white);
  margin: 5% auto;
  padding: 2rem;
  width: 50%;
  border-radius: 0.5rem;
}

#web-name {
  font-weight: bold;
}

#about-popup button {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5%;
  border: none;
  background-color: transparent;
}

.forecast-result {
  visibility: hidden;
}

#today-forecast {
  margin-top: 4em;
  display: flex;
  height: 80%;
  width: 100%;
  border-radius: 0.7em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 0;
}

#today-forecast ul {
  list-style: none;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#total-info {
  display: grid;
  justify-items: start;
}

#temp-info {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

#additional-info {
  display: flex;
  flex-direction: row;
}

#additional-info div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

#today-forecast-hourly {
  margin-top: 2%;
}

#next-days-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#next-days-section {
  background-color: var(--timberwolf);
  height: max-content;
  width: 100%;
  position: relative;
  left: 0;
}

#button_day1 {
  border-style: solid;
}

.date {
  background-color: var(--floral-white);
  height: 80%;
  width: 10%;
  border-radius: 0.7em;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: none;
  border-color: var(--floral-white);
}

.hourly {
  z-index: 50;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: var(--floral-white);
  border-radius: 0.7em;
  padding: 2%;
}

#next-days-charts {
  width: 60%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

#quiz-section {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
  justify-content: space-around;
  visibility: hidden;
}

#quiz {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
}

#quiz-image {
  max-width: 25%;
  max-height: 25%;
}

#options {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 4%;
}

.correct-icon::after {
  content: "✔️";
  color: green;
  margin-right: 10px;
}

.incorrect-icon::after {
  content: "✖️";
  color: red;
  margin-right: 10px;
}
