:root {
  --floral-white: #fffcf2ff;
  --timberwolf: #ccc5b9ff;
  --black-olive: #403d39ff;
  --eerie-black: #252422ff;
  --flame: #eb5e28ff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
    "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

a {
  color: var(--black-olive);
  text-decoration: underline;
}

#search-bar {
  width: 23rem;
  height: auto;
  border-radius: 40px;
  background: var(--timberwolf);
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0.5%;
}

#search-icon {
  width: 2.125rem;
  height: 2.125rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  flex-shrink: 0;
  border: none;
  background: var(--timberwolf);
  border-radius: 40px;
  position: relative;
}

#search-input {
  border: none;
  outline: none;
  background: var(--timberwolf);
  font-size: 1rem;
  position: relative;
  justify-content: center;
}

#header {
  width: 100%;
  height: 4rem;
  position: fixed;
  background-color: var(--timberwolf);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

#open-about-popup {
  width: fit-content;
  height: auto;
  cursor: pointer;
  display: block;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#about-content {
  background-color: var(--floral-white);
  margin: 5% auto;
  padding: 2rem;
  width: 50%;
  border-radius: 0.5rem;
}

#web-name {
  font-weight: bold;
}

#about-popup button {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5%;
  border: none;
  background-color: transparent;
}

.forecast-result {
  display: none !important;
}

#today-forecast {
  margin-top: 4em;
  display: flex;
  height: 80%;
  width: 90%;
  border-radius: 0.7em;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#today-forecast ul {
  list-style: none;
}

#total-info {
  display: grid;
  justify-items: start;
}

#temp-info {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

#additional-info {
  display: flex;
  flex-direction: row;
}

#additional-info div {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
