<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>WeatherForecast</title>

    <!-- Cloudflare -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="styles.css" />

    <!-- Google Icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>

  <body>
    <header>
      <div id="header">
        <p id="open-about-popup">About</p>
      </div>
    </header>

    <form>
      <div id="search-bar">
        <button type="submit" id="search-icon">
          <i class="material-icons">search</i>
        </button>
        <input
          id="search-input"
          type="text"
          name="city_name"
          placeholder="Type your city name"
          required
        />
      </div>
    </form>

    <!-- About Popup -->
    <div id="about-popup" class="popup">
      <div id="about-content">
        <button id="close-popup">
          <i class="material-icons">close</i>
        </button>
        <p>
          <span id="web-name">WeatherForecast</span>
          is an
          <a
            href="https://github.com/Shakiba-Alipour/Weather-Forcast-Web-Application"
            target="_blank"
            >open-source</a
          >
          cutting-edge web application that brings you the power of weather
          knowledge at your fingertips. With its intuitive design and real-time
          data, WeatherForecast is your ultimate guide to staying informed about
          the ever-changing weather conditions around you. Powered by the
          trusted
          <a href="https://openweathermap.org/" target="_blank">OpenWeather</a>
          API, WeatherForecast delivers accurate and up-to-date forecasts to
          help you plan your day with confidence.
        </p>
        <h4>Key Features:</h4>
        <ul id="features">
          <li class="feature">
            Real-time Weather Updates: WeatherForecast harnesses the OpenWeather
            API to provide you with real-time weather updates for your location.
            Stay informed about temperature, humidity, wind speed,
            precipitation, and more, all delivered with precision and
            reliability.
          </li>
          <li class="feature">
            Intuitive and User-Friendly Interface: Designed with simplicity in
            mind, WeatherForecast offers an intuitive interface that is easy to
            navigate, ensuring a seamless user experience. Whether you're a
            weather enthusiast or a casual user, you'll appreciate the app's
            user-friendly design that makes accessing weather information a
            breeze.
          </li>
          <li class="feature">
            Historical Weather Data: Unlock valuable insights with access to
            historical weather data. WeatherForecast allows you to explore past
            weather patterns and trends, enabling you to analyze climate
            conditions for specific dates or periods. Plan your future
            activities based on a thorough understanding of past weather
            occurrences.
          </li>
          <li class="feature">
            Cross-Platform Compatibility: Access WeatherForecast seamlessly
            across multiple devices, including desktops, laptops, tablets, and
            smartphones. Whether you're at home, on the go, or in the office,
            you can rely on WeatherForecast to keep you informed about the
            weather conditions wherever you are.
          </li>
        </ul>
        <p>
          WeatherForecast is built upon the OpenWeather API, a trusted source of
          weather data that ensures the utmost accuracy and reliability. With
          WeatherForecast, you can make informed decisions, plan your
          activities, and stay prepared for whatever Mother Nature has in store.
          Experience the power of WeatherForecast today and never be caught off
          guard by the weather again. It's time to embrace weather intelligence
          and let WeatherForecast be your ultimate weather companion!
        </p>
      </div>
    </div>

    <!-- <div id="result-section">
      <div id="today">
        <ul>
          <li>
            <i class="material-icons">cloud</i>
          </li>
          <li>
            <ul>
              <li id="location">Tehran - Iran</li>
              <li id="temp">30 &#8451</li>
            </ul>
          </li>
        </ul>

    </div>

      <div id="forecast">
        <div class="next-days">
            <i class="material-icons">search</i>
            <p>day 1</p>
            <p>max temp</p>
            <p>min temp</p>
        </div>
        <div class="next-days">
            <i class="material-icons">search</i>
            <p>day 2</p>
            <p>max temp</p>
            <p>min temp</p>
        </div>
        <div class="next-days">
            <i class="material-icons">search</i>
            <p>day 3</p>
            <p>max temp</p>
            <p>min temp</p>
        </div>
        <div class="next-days">
            <i class="material-icons">search</i>
            <p>day 4</p>
            <p>max temp</p>
            <p>min temp</p>
        </div>
        <div class="next-days">
            <i class="material-icons">search</i>
            <p>day 5</p>
            <p>max temp</p>
            <p>min temp</p>
        </div>
      </div>
    </div>

    <div id="description-section">
        <div class="feature">
            <p>humidity</p>
        </div>
        <div class="feature">
            <p>wind speed</p>
        </div>
        <div class="feature">
            <p>main condition</p>
        </div>
        <div class="feature">
            <p>air pollution</p>
        </div>
        <div class="feature">
            <p>description</p>
        </div>
    </div> -->

    <!-- Javascript -->
    <script src="script.js"></script>
  </body>
</html>
